<div class="jumbotron">
    <h1>Frictionless Refueling</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <form action="/api/carentry" method="post">
            <label>Car Id</label><br />
            <input type="text" name="CardId" /> <br/>
            <label>Fuel Read</label><br />
            <input type="text" name="FuelRead" /> <br />
            <label>Latitude</label><br />
            <input type="text" name="Latitude" value="-25.4627081"/> <br />
            <label>Longitude</label><br />
            <input type="text" name="Longitude" value="-49.0403462" /> <br />
            <input type="submit" />
        </form>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
